
<form action="{{ path('subscribers_create') }}" method="post" {{ form_enctype(form) }} id="subscriberForm">
    {{ form_widget(form) }}
    <p>
        <button type="submit">Submit</button>
    </p>
</form>

